
body {
    margin: 0;
}


#div1 {
    background: #f00;
   
    border: 3px solid #000;
    padding-top: 10px;
}

#div2 {
    margin: 50px 0 0;
    margin: 50px 0 0 0;
    background: #00f;
}

#div3 {
    background: #f66235;
}



header {
    background: #333;
    color: #fff;
    padding: 15px 80px;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.img1 {
    width: 100%;
}

p {
    margin: 0;
}


.about {
    padding: 50px;
    background: #333;
}

.item {
   text-align: center;
    background: #949191;
    color: #fff;
    float: left;
}


.imageandp{
    padding: 50px;
    background: rgb(240, 239, 239);

}
img{
    padding: 0;
    width: 100%;
    height: auto;

}
.im{
    width: 48%;
    margin: 0 1%;
    background: #333;
    color: #fff;
    float: left;
}
.sec4{
    padding: 50px;
    background: #333;
}

.part{
    width: 31%;
    margin: 0 1%;
    background: #333;
    color: #fff;
    float: left;

}
.circleborder{
    border-radius: 50%;
}
.clearfix {
    clear: both;
}
.last{
    padding: 50px;
}
